{% load static %}
<!DOCTYPE html>
<html lang="fr">

<!-- Head -->
<head>
    <title> Post-it </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    {% if not user.is_authenticated %}
        <ul class="navbar-nav mr-auto">

            <a class="nav-link" href="{% url 'login' %}"> Connexion </a>
            <a class="nav-link " href="{% url 'register' %}"> Inscription </a>

        </ul>
    {% else %}

        <a class="navbar-brand" href="{% url "index" %}">Post it</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "index" %}">Home</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Deconnexion</a>
            </li>
        </ul>
    {% endif %}
</nav>
<!-- End nav bar -->

{% block content %}

{% endblock %}

<!-- Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>